extends layout

block content
  h1 Edit post

  form.form-horizontal(method='post')
    .control-group
      label.control-label(for='project-edit-title') Title
      .controls
        input.span6(id='project-edit-title', name='title', type='text', placeholder='Name or type of project.', value=project.title)

    .control-group
      label.control-label(for='project-edit-summary') Summary
      .controls
        input.span6(id='project-edit-summary', name='summary', type='text', placeholder='Describe your project in a sentence.', value=project.summary)

    .control-group
      label.control-label(for='project-edit-when') Month or Date
      .controls
        input.span6(id='project-edit-when', name='when', type='text', placeholder='e.g. "April 2013", "May 4, 2013", or "Now".', value=project.when)

    .control-group
      label.control-label(for='project-edit-creators') Students who worked on this project <br><small>Faculty and Staff will be added soon!</small>
      .controls
        select(name="creators", id="project-edit-creators", multiple).chzn-select.span6
          each person in directory
            option(value=person.id, selected=(project.creators || []).indexOf(person.id) > -1)= person.name

    hr
    h4 Optional Information
    br

    .control-group
      label.control-label(for='body') Picture Gallery<br><small>One URL per line. <a href="http://imgur.com/" tabindex="-1">Upload an image?</a></small>
      .controls
        textarea.span6(id='body', name='images', rows=2, placeholder="e.g. http://imgur.com/i/2FIK4")= project.images_text
    .control-group
      label.control-label(for='body') Video Gallery<br><small>One URL per line. <a href="http://www.youtube.com/upload" tabindex="-1">Upload an image?</a></small>
      .controls
        textarea.span6(id='body', name='videos', rows=2, placeholder="e.g. http://youtube.com/?v=239249792")= project.videos_text
    .control-group
      label.control-label(for='body') External Links / Writeups<br><small>One URL per line.</small>
      .controls
        textarea.span6(id='body', name='links', rows=2, placeholder="e.g. http://archive.org/")= project.links_text

    .control-group
      label.control-label(for='body') Extended Description<br><small>(Use <a href="http://daringfireball.net/projects/markdown/syntax" tabindex="-1">Markdown</a> or HTML)<br><br>To add an image with caption, type <code>![caption](url)</code> on its own line.</small>
      .controls
        textarea.span6(id='body', name='body', rows=15, placeholder="Describe your project in depth.")= (project.body_text || project.body)

    hr
    h4 Classification
    br

    .control-group
      label.control-label(for='body') What type of project is this?
      .controls
        input(type="checkbox")
        |  Course project
        br
        input(type="checkbox")
        |  Personal project
        br
        input(type="checkbox")
        |  Research
        br
        input(type="checkbox")
        |  Business/startup
        br
        input(type="checkbox")
        |  Club/organization project
        br
        input(type="checkbox")
        |  Olin improvement

    .control-group
      label.control-label(for='body') What is the state of completeness?
      .controls
        input(type="checkbox")
        |  Just my idea
        br
        input(type="checkbox")
        |  Work in progress
        br
        input(type="checkbox")
        |  It's complete&mdash;but I want to keep improving it!
        br
        input(type="checkbox")
        |  It's complete&mdash;and I'm done working on it
        br
        input(type="checkbox")
        |  It was a failure!

    .control-group
      label.control-label(for='body') Are you looking for people to help?
      .controls
        input(type="checkbox")
        |  Yes!

    .control-group
      label.control-label Is your post private or public?
      .controls
        input(type="radio", name="public", value="", checked=!project.published)
        |  Private&mdash;My audience is Olin College
        br
        input(type="radio", name="public", value="true", checked=project.published)
        |  Public&mdash;My audience is the entire world

    hr

    .control-group
      .controls
        button.btn-success.btn-large.btn(type='submit') Update Article