extends layout

block content
  div(class="project " + (project.large ? 'project-large' : 'project-small'))
    h1.project-title= project.title
    p.project-subtitle
      if project.when
        i= project.when
        |  &mdash; 
      | #{project.summary ? project.summary.replace(/\.?$/, '.') : ''} By <b>
      != (project.creators || ['anonymous']).join('</b>, <b>')
      | </b>.

    each video in (project.videos || [])
      div.project-video!= video.html
    div.project-images
      div.project-images-cell
        each image, i in (project.images || [])
          a.project-image(href=image.url, data-toggle="lightbox", data-target="#projectimage" + i)
            span.project-image-table
              span.project-image-cell
                img(src=getImageUrl(image.url, 150, 150))

    div.project-body!= resanitize(project.body)

    if project.links && project.links.length
      div(style="margin-top: 30px; margin-bottom: -7px;")
        small External links:
    each link in (project.links || [])
      div.project-link
        div
          big
            a(href=link.url)= link.title
        p
          small
            i
              | #{link.url} &mdash; #{link.provider_name}
        if link.description
          p= (link.description || '').substr(0, 100) + (link.description.length > 100 ? '...' : '')

    form(action="/delete", method="post")
      p.project-footer
        if user && project.submitter == user.username
          span(style="float: right")
            a.btn.btn-mini.btn-info(href="/projects/" + project._id + "?edit", style="padding: 0 5px")
              | edit
            |  
            button.btn.btn-mini.btn-danger(type="submit", name="id", value=project._id, style="padding: 0 5px", onclick="return confirm('Are you sure you want to purge this project from history?')")
              | delete
        | Submitted by #{project.submitter} on #{project.date} 